<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <insead_taxapi>
            <log_cleanup>
                <retention_days>90</retention_days>
            </log_cleanup>
        </insead_taxapi>
    </default>
</config>
